<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FCS_Projekt_Verwaltung___Server.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <FCS_Projekt_Verwaltung___Server.My.MySettings>
      <setting name="port" serializeAs="String">
        <value>42647</value>
      </setting>
      <setting name="main_path" serializeAs="String">
        <value>C:\FCS-Verwaltung</value>
      </setting>
      <setting name="userdatabase_path" serializeAs="String">
        <value>user.usfcs</value>
      </setting>
      <setting name="import_path" serializeAs="String">
        <value>import</value>
      </setting>
      <setting name="encode_path" serializeAs="String">
        <value>encode</value>
      </setting>
      <setting name="project_path" serializeAs="String">
        <value>projects</value>
      </setting>
      <setting name="temp_path" serializeAs="String">
        <value>temp</value>
      </setting>
      <setting name="projectdatabse_path" serializeAs="String">
        <value>projects.prfcs</value>
      </setting>
      <setting name="cameradatabse_path" serializeAs="String">
        <value>camera.cafsc</value>
      </setting>
      <setting name="categorydatabase_path" serializeAs="String">
        <value>category.ctfcs</value>
      </setting>
      <setting name="cutom_ip_bo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="custom_ip" serializeAs="String">
        <value />
      </setting>
      <setting name="template_path" serializeAs="String">
        <value>template</value>
      </setting>
      <setting name="template_preset_path" serializeAs="String">
        <value>preset</value>
      </setting>
      <setting name="template_custom_path" serializeAs="String">
        <value>custom</value>
      </setting>
      <setting name="musicdatabase_path" serializeAs="String">
        <value>music.mufcs</value>
      </setting>
      <setting name="update_path" serializeAs="String">
        <value>update</value>
      </setting>
      <setting name="client_update_version" serializeAs="String">
        <value>0.1.0</value>
      </setting>
      <setting name="activate_update" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="music_path" serializeAs="String">
        <value>music</value>
      </setting>
      <setting name="log_path" serializeAs="String">
        <value>log.txt</value>
      </setting>
    </FCS_Projekt_Verwaltung___Server.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>